<!DOCTYPE html>
<head>
  <title>Generative Video</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  {% if result %}
  
  <video width="600" height="600" controls>
    <source src="{{ video_url }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <!-- <h5>Script</h5> -->
  <div class="result"><p><b>Script:</b> {{ result }}</p></div>
  {% endif %}

  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Generate a video</h3>
  <form action="/" method="post">
    <input type="text" name="who" placeholder="Who are you?" required />
    <input type="text" name="topic" placeholder="Enter a topic" required />
    <input type="submit" value="Generate" />
  </form>
  
</body>
